<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="icon" th:src="@{images/VA-logo.png}">
    <link rel="stylesheet" href="style.css">
    <script>
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] === variable) {
                    return pair[1];
                }
            }
            return "--not found--";
        }

        function forText(variable) {
            let text = String(getQueryVariable(variable));
            text = text.replaceAll("+", " ");
            if (text !== "--not found--" && text !== "") {
                return text
            } else {
                return null
            }
        }
    </script>
</head>

<body>
<header>
    <div class="header-banner">
        <img class="header-image" th:src="@{images/pattern2.jpg}" alt="header-image">
        <img class="logo" th:src="@{images/VA-logo_red.png}" alt="Logo">
        <h1>Project: Vapor-Aeon</h1>
    </div>
    <nav class="header" id="myHeader">
        <div id="site-title">Project: Vapor-Aeon</div>
        <ul id="stuff">
            <li>
                <form role="search">
                    <div class="invisible">
                        <label for="input1"></label><input type="text" id="input1" name="Developer"/><br>
                        <script>document.getElementById("input1").value = forText('Developer');</script>
                        <label for="input2"></label><input type="text" id="input2" name="Publisher"/><br>
                        <script>document.getElementById("input2").value = forText('Publisher');</script>
                        <label for="input3"></label><input type="text" id="input3" name="PriceMin"/><br>
                        <script>document.getElementById("input3").value = forText('PriceMin');</script>
                        <label for="input4"></label><input type="text" id="input4" name="PriceMax"/><br>
                        <script>document.getElementById("input4").value = forText('PriceMax');</script>
                        <label for="input5"></label><input type="text" id="input5" name="Positive"/><br>
                        <script>document.getElementById("input5").value = forText('Positive');</script>
                        <input type="submit">
                    </div>
                    <input class="header-search" type="text" id="inputTitle" name="Title" placeholder="Search..."
                           pattern="[A-Za-z0-9\s]{1,}" title="no spec. chars"/><br>
                    <script>document.getElementById("inputTitle").value = forText('Title');</script>
                </form>
            </li>
            <li><a href="/search">Search</a></li>
            <li><a href="/random">Random</a></li>
        </ul>
        <script>
            const stuff = document.getElementById("stuff");
            stuff.addEventListener("mouseover", (e) => {
                e.target.style.color = "#db0952";
            });
            stuff.addEventListener("mouseout", (e) => {
                e.target.style.color = "#a9abae";
            });
        </script>
    </nav>
</header>
<h1 style="color: #1c046c" th:text="${error}"></h1>
</body>
</html>