<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <title>Random Game</title>
    <link rel="icon" th:src="@{images/VA-logo.png}">
    <link rel="stylesheet" href="style.css">
    <script>
        function getQueryVariable(variable) {
            var query = window.location.search.substring(1);
            var vars = query.split("&");
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split("=");
                if (pair[0] === variable) {
                    return pair[1];
                }
            }
            return -1;
        }

        function forText(variable) {
            let text = getQueryVariable(variable);
            text = String(text).replaceAll("+", " ");
            if (text != -1 && text != "") {
                return text
            } else {
                return null
            }
        }
    </script>
</head>

<body>
<header>
    <div class="header-banner">
        <img class="header-image" th:src="@{images/pattern2.jpg}" alt="header-image">
        <img class="logo" th:src="@{images/VA-logo_red.png}" alt="Logo">
        <h1>Project: Vapor-Aeon</h1>
    </div>
    <nav class="header" id="myHeader">
        <div id="site-title">Project: Vapor-Aeon</div>
        <ul id="stuff">
            <li>
                <form role="search">
                    <div class="invisible">
                        <input type="text" id="input1" name="Developer"/><br>
                        <script>document.getElementById("input1").value = forText('Developer');</script>
                        <input type="text" id="input2" name="Publisher"/><br>
                        <script>document.getElementById("input2").value = forText('Publisher');</script>
                        <input type="text" id="input3" name="PriceMin"/><br>
                        <script>document.getElementById("input3").value = forText('PriceMin');</script>
                        <input type="text" id="input4" name="PriceMax"/><br>
                        <script>document.getElementById("input4").value = forText('PriceMax');</script>
                        <input type="text" id="input5" name="Positive"/><br>
                        <script>document.getElementById("input5").value = forText('Positive');</script>
                        <input type="submit">
                    </div>
                    <input class="header-search" type="text" id="inputTitle" name="Title" placeholder="Search..."
                           pattern="[A-Za-z0-9\s]{1,}" title="no spec. chars"/><br>
                    <script>document.getElementById("inputTitle").value = forText('Title');</script>
                </form>
            </li>
            <li><a href="/search">Search</a></li>
            <li><a href="/random">Random</a></li>
        </ul>
        <script>
            const stuff = document.getElementById("stuff");
            stuff.addEventListener("mouseover", (e) => {
                e.target.style.color = "#db0952";
            });
            stuff.addEventListener("mouseout", (e) => {
                e.target.style.color = "#a9abae";
            });
        </script>
    </nav>
</header>
<img style="display: block; margin-left: auto; margin-right: auto" width="385" height="180"  th:src="@{${game.getIMG_big()}}" th:alt="${game.getTitle()}">
<div class="centered">
    <strong th:text="'Title: '"/>
    <t th:text="${game.getTitle()}"/>
</div>
<div class="centered">
    <strong th:text="'Developer: '"/>
    <t th:text="${game.getDeveloper()}"/>
</div>
<div class="centered">
    <strong th:text="'Publisher: '"/>
    <t th:text="${game.getPublisher()}"/>
</div>
<div class="centered">
    <strong th:text="'Price: '"/>
    <t style="color: red" th:text="' -'+${game.getSale()}+'%'" th:if="${game.getSale() != 0}"/>
    <del th:text="${oldcost}+'zł'" th:if="${game.getSale() != 0}"/>
    <t th:text="${game.getPrice()}+'zł'"/>
</div>
<div class="centered">
    <strong th:text="'Reviews: '"/>
    <t style="color: green" th:text="${revs[0]}"/>
    <t th:text="'/'"/>
    <t style="color: red" th:text="${revs[1]}"/>
</div>
<div class="centered">
    <strong th:text="'Release date: '"/>
    <t th:text="${game.getDate()}"/>
</div>
<div class="centered">
    <strong th:text="'↓'"/>
</div>
<div class="centered">
    <t><a th:href="${game.getLink()}" target="_blank"><img th:src="@{${game.getPlatform}}" style="width: 30px; height: 30px; display: block; margin-left: auto; margin-right: auto;" alt="shop"></a></t>
</div>
</body>
</html>